@import url("https://fonts.googleapis.com/css2?family=Syne:wght@700&display=swap");
@import "tailwindcss";

/* ===== CINEMATIC THEME ===== */

:root {
  --background: #0b0b0b;
  --foreground: #ffffff;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
}

/* Reset */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Body Style */
body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sora);
  overflow-x: hidden;
}
h1,
h2,
h3 {
  font-family: var(--font-display);
}
/* Smooth scrolling */
html {
  scroll-behavior: smooth;
}

@keyframes shine {
  0%,
  100% {
    transform: translateX(-20%) translateY(-20%);
    opacity: 0.15;
  }
  50% {
    transform: translateX(100%) translateY(20%);
    opacity: 0.4;
  }
}

.animate-shine {
  animation: shine 6s ease-in-out infinite;
}

.bg-grainy {
  background-image: url("https://grainy-gradients.vercel.app/noise.svg");
}
